.featuredCarousel {
  width: 90%;
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: 35px;
  padding-bottom: 1rem;
  width: 100%;
}

.header h2 { 
  margin: 0; 
  align-self: center; 
  color: #495057; 
}

/* .carouselLayout {
  height: 400px;
} */