.form {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
}

.form input {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: inherit;
}

.form input:focus {
  outline: none !important;
  border: 1px solid #adb5bd;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.options a {
  color: #FA5252;
}

.options a:hover {
  color: #212529;
}

.asterix {
  color: #FA5252;
}

.rememberMe {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.form .button {
  width: 100%;
}

.form button {
  background:#FA5252 ;
  color: #F8F9FA;
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 500;
}

.form button:hover {
  background-color: #212529;
}

.toast {
  width: 100%;
  background-color: #FFF5F5;
  border: 1px solid #FA5252;
  color: #FA5252;
  font-size: small;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.subContainer {
  width: 100%;
  text-align: center;
}

.subContainer h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 0.5rem;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callToAction {
  font-size: small;
}

.callToAction a {
  color: #FA5252;
}

.callToAction a:hover {
  color: #212529;
}