.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f03e3e;
  color: #f8f9fa;
  padding-bottom: 2rem;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  width: 100%;
}

.cartTitle div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchasedItems {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toCheckout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkout {
  border: 2px solid #DEE2E6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5rem;
}

.removeItem:hover {
  color: #f03e3e;
}

.checkout:hover {
  border: 2px solid #252323;
  background-color: #252323;
  color: #f8f9fa;
}

.qtyControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.qtyInput {
  width: 50px;
}

.qtyInput input:focus-within {
  outline: none;
  border-color: #f03e3e;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEE2E6;
  border-radius: 0.2rem;
  width: 20px;
  height: 20px;
  color: #868E96;
}

.item {
  background-color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #252323;
}

.itemImage {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 50px;
}

.itemInfo h4,
.itemInfo p {
  margin: 0;
  font-size: small;
}
