.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f03e3e;
  color: #f8f9fa;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.userProfile h2 {
  margin: 0;
}

.tologout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  border: 2px solid #DEE2E6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5rem;
}

.logout:hover {
  border: 2px solid #252323;
  background-color: #252323;
  color: #f8f9fa;
}

.profileInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileInfo p {
  margin: 0;
  padding: 0.1rem;
}