.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
}

.shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #F03E3E;
  border-radius: 0.5rem;
  color: #e4e4e4;
}

.shoppingCart:hover {
  background-color: #25262B;
}

.hero {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-top: 2rem; */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #252323;
  width: 100%;
}

.navbar {
  /* background-color: #f8f8f8; */
  /* padding: 10px; */
  border-radius: 10px;
  font-size: small;
  width: 390px;
  /* font-weight: bold; */
}

.navbarList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #252323;
}

.navbarItem:hover {
  background-color: #CCCCCC;
}

.navbarItem:last-child {
  margin-right: 0;
}

.headerLayout {
  /* background-color: #F03E3E; */
  background-color: #F8F9FA;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchSection {
  margin: 0%;
  width: 65%;
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 0.5rem;
  @media (max-width: 650px) {
    flex-direction: column-reverse;
    width: 80%;
    gap: 1rem;
  }
}

.searchInput {
  background-color: transparent;
  border: none;
  font-family: Lexend;
  margin-left: 5px;
  margin-right: 2rem;
  flex: auto;
}

.searchbar {
  flex: 1;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: smaller;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.searchInput:focus::placeholder {
  color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  color: #64748B;
  padding-top: 2rem;
}

.footerList {
  padding: 0%;
}

.footerItem {
  list-style: none;
  text-align: center;
  font-size: small;
  line-height: 2rem;
}

.footerItem:hover {
  font-weight: bold;
  transition: font-weight 0.3s ease;
}

.poweredBy {
  display: flex;
  justify-content: center;
  font-size: x-small;
  color: #64748B;
}

.button {
  font-family: Lexend;
  background-color: #F03E3E;
  border-radius: 10px;
  color: #f8f8f8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  font-size: small;
  display: flex;
  align-items: center;
}

.button2 {
  font-family: Lexend;
  background-color: #F03E3E;
  border-radius: 10px;
  color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  font-size: medium;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button:hover {
  background-color: #252323;
  color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: #252323;
  color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.contactUs {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselAlign{
  display:flex;
  flex-direction: row;
  gap: 2rem;
}
.carouselItem{
  flex:1;
}

.carouselHeader{
  margin-top: 2rem;
  
}

.name {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.name h2{
  margin: 0;
  font-size: 2rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tags {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.meta {
  text-align: center;
  width: 100%;
  max-width: 710px;
  min-width: 320px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.submeta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.subheading {
  text-align: center;
  width: 90%;
}